<!-- <div class="card card-cascade mt-2">

    <div class="view gradient-card-header blue darken-2">
        <h4 class="h4-responsive text-white m-3 ">Тест табличного контрола</h4>
    </div>

    <div class="card-body">
        <app-control-table  [tableViewData]="data"></app-control-table>
    </div>

    <div class="card-footer">
      </div>
</div> -->

<!-- <mdb-card [cascade]="true" class="mt-2">
    <mdb-card-header class="blue darken-2 view">
        <h4 class="h4-responsive text-white ">Тест табличного контрола</h4>
    </mdb-card-header>
    <mdb-card-body>
        <app-control-table [TableViewData]="data"></app-control-table>
    </mdb-card-body>
<mdb-card-footer>
    <button type="button" class="btn btn-primary" mdbWavesEffect (click)="fillButtonClick()">Заполнить</button> 
    <button type="button" class="btn btn-primary" mdbWavesEffect (click)="newData()">Создать</button> 

    <button type="button" class="btn btn-primary" mdbWavesEffect (click)="addButtonClick()">Добавить</button>
    <button type="button" class="btn btn-primary" mdbWavesEffect (click)="flushButtonClick()">Очистить</button>


</mdb-card-footer> -->
<!-- 
</mdb-card> -->

<app-client-list></app-client-list>